{% block counters %}
 <!-- ======= Счетчики ======= -->
    <div class="counts container">

      <div class="row" style="justify-content: space-around;">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
            <p>Год практичесткого опыта</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="bi bi-award"></i>
            <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1" class="purecounter"></span>
            <p>Учебных проекта</p>
          </div>
        </div>
      </div>
    </div><!-- конец счетчиков -->
{% endblock %}    