{% block resume %}
  <!-- ======= Резюме ======= -->
  <section id="resume" class="about">

    <!-- ======= Об авторе ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>Резюме</h2>
        <p>Опыт и навыки</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="static/img/me.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Python backend developer</h3>
          <p class="fst-italic">
            Занимаюсь веб-разработкой на Django и Flask.
          </p>
          <p style="line-height: 1.6;">
            Ищу работу в должности Junior Python разработчика.<br>Готов работать полный рабочий день удаленно. Также рассмотрю возможность стажировки.
          </p>
          <p>
            Со своей стороны могу гарантировать ответственный подход и коммуникабельность.<br>Качественно выполняю поставленные задачи, не боюсь новых и сложных задач.
          </p>
          <p>
            С сентября 2021 прохожу обучение на платформе Skillbox по специальности Python - разработчик.<br>
            Мои цели на ближайшее время - изучить алгоритмы и структуры данных, FastAPI,SQLAlchemy, Docker, асинхронное и многопоточное программирование.
          </p>
        </div>
      </div>
    </div><!-- конец секции -->
{% endblock %}
